/* GOOGLE FONTS - DONGLE */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

* {

    padding: 0;
    margin: 0;
    font-family: 'Dongle', sans-serif;
    font-weight: 600;

}

body {

    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E8EEE1;

}

.container {

    width: 220px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    border: none;
    border-radius: 10px;
    background-color: #465A65;

}

.display-area {

    margin: 5px;

}

.buttons-area {

    margin: 5px 15px;

}

.display {

    font-size: 32px;
    height: 45px;
    width: 168px;
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    background-color: #DDEDC8;

}

.button {

    font-size: 32px;
    width: 45px;
    height: 45px;
    background-color: #F3F3F3;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;

}

.button:hover {

    cursor: pointer;
    background-color: #CDCDCD;

}

.equal {

    background-color: #FF8C00;

}

.equal:hover {

    background-color: #FFA500;

}

.footer {

    width: 100vw;
    height: 100px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background-color: #465A65;

}

.footer p {

    font-size: 24px;

}

.github-icon, .linkedin-icon {

    color: #FFFFFF;
    text-decoration: none;
    margin: auto 5px;
    font-size: 20px;

}

.fa-github:hover, .fa-linkedin:hover {

    transform: scale(1.2);

}

.all-clear, .equal {

    width: 93.21px;

}